/* font import */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
    /* Disable right-clicking */
    /* user-drag: none; */
}

::-webkit-scrollbar {
    display: none;
}

.group {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* Add other styles you may need */
}

.group:hover .text-container {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.text-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}